$color_1: #75715e;
$color_2: #960050;
$color_3: #66d9ef;
$color_4: #ae81ff;
$color_5: #f8f8f2;
$color_6: #f92672;
$color_7: #e6db74;
$color_8: #a6e22e;
$background-color_1: #272822;
$background-color_2: #9e959a;

/* Comment */
/* Error */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Punctuation */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Emph */
/* Generic.Strong */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
/* Generic.Subheading & Diff Unified/Comment? */
/* Generic.Deleted & Diff Deleted */
/* Generic.Inserted & Diff Inserted */
.highlight {
	pre {
		background-color: $background-color_1;
	}
	.hll {
		background-color: $background-color_1;
	}
	.c {
		color: $color_1;
	}
	.err {
		color: $color_2;
		background-color: $background-color_2;
	}
	.k {
		color: $color_3;
	}
	.l {
		color: $color_4;
	}
	.n {
		color: $color_5;
	}
	.o {
		color: $color_6;
	}
	.p {
		color: $color_5;
	}
	.cm {
		color: $color_1;
	}
	.cp {
		color: $color_1;
	}
	.c1 {
		color: $color_1;
	}
	.cs {
		color: $color_1;
	}
	.ge {
		font-style: italic;
	}
	.gs {
		font-weight: bold;
	}
	.kc {
		color: $color_3;
	}
	.kd {
		color: $color_3;
	}
	.kn {
		color: $color_6;
	}
	.kp {
		color: $color_3;
	}
	.kr {
		color: $color_3;
	}
	.kt {
		color: $color_3;
	}
	.ld {
		color: $color_7;
	}
	.m {
		color: $color_4;
	}
	.s {
		color: $color_7;
	}
	.na {
		color: $color_8;
	}
	.nb {
		color: $color_5;
	}
	.nc {
		color: $color_8;
	}
	.no {
		color: $color_3;
	}
	.nd {
		color: $color_8;
	}
	.ni {
		color: $color_5;
	}
	.ne {
		color: $color_8;
	}
	.nf {
		color: $color_8;
	}
	.nl {
		color: $color_5;
	}
	.nn {
		color: $color_5;
	}
	.nx {
		color: $color_8;
	}
	.py {
		color: $color_5;
	}
	.nt {
		color: $color_6;
	}
	.nv {
		color: $color_5;
	}
	.ow {
		color: $color_6;
	}
	.w {
		color: $color_5;
	}
	.mf {
		color: $color_4;
	}
	.mh {
		color: $color_4;
	}
	.mi {
		color: $color_4;
	}
	.mo {
		color: $color_4;
	}
	.sb {
		color: $color_7;
	}
	.sc {
		color: $color_7;
	}
	.sd {
		color: $color_7;
	}
	.s2 {
		color: $color_7;
	}
	.se {
		color: $color_4;
	}
	.sh {
		color: $color_7;
	}
	.si {
		color: $color_7;
	}
	.sx {
		color: $color_7;
	}
	.sr {
		color: $color_7;
	}
	.s1 {
		color: $color_7;
	}
	.ss {
		color: $color_7;
	}
	.bp {
		color: $color_5;
	}
	.vc {
		color: $color_5;
	}
	.vg {
		color: $color_5;
	}
	.vi {
		color: $color_5;
	}
	.il {
		color: $color_4;
	}
	.gu {
		color: $color_1;
	}
	.gd {
		color: $color_6;
	}
	.gi {
		color: $color_8;
	}
}
