.highlight {
	table {
		td {
			padding: 5px;
		}
		pre {
			margin: 0;
		}
	}
	.err {
		color: #fb4934;
		background-color: #282828;
		font-weight: bold;
	}
	.cp {
		color: #8ec07c;
	}
	.nt {
		color: #fb4934;
	}
	.gi {
		color: #b8bb26;
		background-color: #282828;
	}
	.gd {
		color: #fb4934;
		background-color: #282828;
	}
	.gh {
		color: #b8bb26;
		font-weight: bold;
	}
	.kc {
		color: #d3869b;
	}
	.kt {
		color: #fabd2f;
	}
	.kd {
		color: #fe8019;
	}
	.si {
		color: #b8bb26;
		font-style: italic;
	}
	.sr {
		color: #b8bb26;
		font-style: italic;
	}
	.se {
		color: #fe8019;
	}
	.nn {
		color: #8ec07c;
	}
	.nc {
		color: #8ec07c;
	}
	.no {
		color: #d3869b;
	}
	.na {
		color: #b8bb26;
	}
	.ss {
		color: #83a598;
	}
}
.highlight, .highlight .w {
	color: #fbf1c7;
	background-color: #282828;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
	color: #928374;
	font-style: italic;
}
.highlight .o, .highlight .ow {
	color: #fbf1c7;
}
.highlight .p, .highlight .pi {
	color: #fbf1c7;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
	color: #fb4934;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
	color: #b8bb26;
	font-style: italic;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
	color: #d3869b;
}
